<div class="container">
    <h1>Eat Da Burger!</h1>

    <form class="create-form">
        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
            <button class="btn-danger" type="submit"><i class="fas fa-hamburger"></i></button>
        </div>
    </form>


    <div class="eat">
        <h2>Burgers ready to be devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{this.id}}-{{this.burger_name}}
                <button type="button" class="btn-warning">
                    <i class="fas fa-utensils"></i>
                </button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="devoured">
        <h2>Burgers thats been devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{this.id}}-{{this.burger_name}}
                <button type="button" class="btn-danger">
                    <i class="fas fa-sign-language"></i>
                </button>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
