body {
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.createBurger {
    font-family: 'Luckiest Guy', cursive;
    font-size: 28px;
    color: yellow;
}

h1 {
    text-align: center;
    color: yellow;
    font-family: 'Luckiest Guy', cursive;
}

.create-form {
    text-align: center;
    margin-top: 50px;
}

.fa-utensils {
    float: left;
}

.fa-trash {
    float: right;
}

.notdevoured {
    float: left;
    font-family: 'Luckiest Guy', cursive;
    color: azure;
    font-size: 24px;
}

.devoured {
    float: right;
    color: #dc3545;
    font-size: 24px;
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
}
